<!DOCTYPE html>
<!--
WebVTT Rendering Tests

Writing Direction Horizonal, Aligned Middle, and Left-To-Right
========================================================

At position 50%, size should become 100%, and left 0%.

"If the text track cue alignment is middle, the text track cue text position is less than or equal to 50
Let maximum size be the text track cue text position multiplied by two."
http://dev.w3.org/html5/webvtt/#cues-with-video (April, 17, 2013)

"If the text track cue writing direction is horizontal, the text track cue alignment is middle, and direction is 'ltr'
Let x-position be the text track cue text position minus half of size."
http://dev.w3.org/html5/webvtt/#cues-with-video (April, 17, 2013)
-->
<!DOCTYPE html>
<html class="reftest-wait">
<head>
	<meta charset="UTF-8">
	
	<style>
		#testVideo {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 640px;
			height: 480px;
			margin: 0px;
			padding: 0px;
		}
	</style>
	
	<title>WebVTT</title>
</head>
<body>
	<video id="testVideo">
		<source src="grey320x240.ogv" type="video/ogg">
		<track src="setting-horizontal-middle50-ltr.vtt">
	</video>
	
	<script src="testScript.js"></script>
	<script type="text/javascript">
		// Load, seek, and pause video, then run test
		loadVideo();
	</script>
</body>
</html>