<!DOCTYPE html>
<!--
WebVTT Rendering Tests

Writing Direction Horizonal, Aligned Middle, and Left-To-Right
========================================================

At position 51%, size should become 98%, and left 2%.

"If the text track cue alignment is middle, the text track cue text position is greater than 50
Let maximum size be the result of subtracting text track cue text position from 100 and then multiplying the result by two."
http://dev.w3.org/html5/webvtt/#cues-with-video (April, 17, 2013)

"If the text track cue writing direction is horizontal, the text track cue alignment is middle, and direction is 'ltr'
Let x-position be the text track cue text position minus half of size."
http://dev.w3.org/html5/webvtt/#cues-with-video (April, 17, 2013)
-->
<!DOCTYPE html>
<html class="reftest-wait">
<head>
	<meta charset="UTF-8">
	
	<style>
		#testVideo {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 640px;
			height: 480px;
			margin: 0px;
			padding: 0px;
		}
	</style>
	
	<title>WebVTT</title>
</head>
<body>
	<video id="testVideo">
		<source src="grey320x240.ogv" type="video/ogg">
		<track src="setting-horizontal-middle51-ltr.vtt">
	</video>
	
	<script src="testScript.js"></script>
	<script type="text/javascript">
		// Load, seek, and pause video, then run test
		loadVideo();
	</script>
</body>
</html>