<!DOCTYPE html>
<!--
WebVTT Rendering Tests

Underline Tag Test
==================

Underline span should be underlined.

"The 'text-decoration' property on WebVTT Underline Objects must be set to 'underline'."
http://dev.w3.org/html5/webvtt/#applying-css-properties-to-webvtt-node-objects (April, 19, 2013)
-->
<!DOCTYPE html>
<html class="reftest-wait">
<head>
	<meta charset="UTF-8">
	
	<style>
		#testVideo {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 640px;
			height: 480px;
			margin: 0px;
			padding: 0px;
		}
	</style>
	
	<title>WebVTT</title>
</head>
<body>
	<video id="testVideo">
		<source src="grey320x240.ogv" type="video/ogg">
		<track src="tag-underline.vtt">
	</video>
	
	<script src="testScript.js"></script>
	<script type="text/javascript">
		// Load, seek, and pause video, then run test
		loadVideo();
	</script>
</body>
</html>