<!DOCTYPE html>
<!--
WebVTT Rendering Tests

Writing Mode vertical-rl Test
=============================

If the setting verticl:rl is present make sure the cue is vertical and on the left side.


"4. If the text track cue writing direction is horizontal, then let writing-mode be 'horizontal-tb'. Otherwise, if the text track cue writing direction is vertical growing left, then let writing-mode be 'vertical-rl'. Otherwise, the text track cue writing direction is vertical growing right; let writing-mode be 'vertical-lr'."
http://dev.w3.org/html5/webvtt/#cues-with-video (April, 17, 2013)
-->
<!DOCTYPE html>
<html class="reftest-wait">
<head>
	<meta charset="UTF-8">
	
	<style>
		#testVideo {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 640px;
			height: 480px;
			margin: 0px;
			padding: 0px;
		}
	</style>
	
	<title>WebVTT</title>
</head>
<body>
	<video id="testVideo">
		<source src="grey320x240.ogv" type="video/ogg">
		<track src="basic.vtt">
	</video>
	
	<script src="testScript.js"></script>
	<script type="text/javascript">
		// Load, seek, and pause video, then run test
		loadVideo();
	</script>
</body>
</html>